* {
    box-sizing: border-box;
}

body {
    background-color: #fdfdfc;
    color: #000000;
}

.page {
    max-width: 2000px;
    margin: 10px auto;
}
header {
    text-align: center;
}

h1 {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    font-family: "Courier New", monospace;
    font-size: 50px;
     background-color: #ffbee6;
}

.multimedia-section {
    border: 3px solid black;
    margin: 10px 0;
    padding: 15px;
    background-color: #38abf8;
    min-height: 100px;
}

.multimedia-section h2 {
    margin: 0 0 12px;
    font-size:20x;
    font-weight: normal;
}

.photo-gallery {
    text-align: center;
    border: 1px solid #162125;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #6698ac;
    margin-bottom: 30px;
}
.photo-gallery h2 {
    margin-top: 10;
    padding: 15px;
    background-color: #eff1f1;
    color: #000000;
    font-family: "Comic Sans MS", cursive;
    font-size: 30px;

}
.photo-gallery img {
    border: 2px ridge black;
    border-radius: 10px;
    width: 200px;
    height: 350px;
    object-fit: cover;
    margin: 10px;
}

.music-list {
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid #77698a;
    border-radius: 20px;
    background-color: #beacd6;
    margin-bottom: 30px;
}
.music-list h2 {
    margin-top: 20;
    padding: 15px;
    background-color: #fdfeff;
    color: #030303;
    font-family: "Comic Sans MS", cursive;
    font-size: 30px;
}
.music-list li {
    margin-left: -60px;
    margin-bottom: 12px;
    font-size: 15px;
}
.music-list audio {
    width: 320px;
    max-width: 100%;
    margin-top: 5px;
}

.video-gallery {
    text-align: left;
    border: 1px solid #364f58;
    border-radius: 20px;
    padding-left:100px;
    padding-right:100px;
    background-color: #6fa0b3;
    overflow: auto;
}

.video-gallery h2 {
    margin: 20px;
    padding: 15px;
    background-color: white;
    color: #000000;
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
    text-align: center;
}
.video-item {
    width: 30%;
    margin: 1% 1.5%;
    padding: 5px;
    float: left;
    text-align: center;
}

.video-item h3 {
    margin-bottom: 5px;
    text-align: center;
    border: 2px dashed black;
    padding: 8px;
}

.video-item video {
    margin-left: 0;
    font-size: 15px;
    width: 100%;
    height: 300px;
    background-color: #030303;
}